/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.easyvid {
    margin-bottom: 2rem;
}

.easyvid-title{
    font-size: 2rem;
    margin: 0 !important;
    margin-bottom: 1rem !important;
}

.vidcontainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.vidcontainer span {
    position: absolute;
    z-index: 999;
    background: #fff;
    color: #cd2653;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    width: 200px;
    text-align: center;
    transform: translateY(-50%);
    text-decoration: none;
    font-size: 16px;
    padding: 14px;
    font-family: sans-serif;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 3px 13px 6px rgb(205 38 83 / 36%);
    border-radius: 1px;
    user-select: none;
}

.vidcontainer span:hover {
    background: #cd2653;
    color: #fff;
}

.easyvid-coupon-input {
    position: absolute;
    background: rgb(0 0 0 / 80%);
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.easyvid-coupon-input form{
    display: flex;
}

.easyvid-coupon-input form input[type="text"]{
    text-align: center;
    font-weight: bold;
}

.easyvid-coupon-input form input[type="submit"]{
    text-decoration: none;
}

.easyvid-coupon-input form input[type="submit"]:hover{
    background: #111;
}